/**********************************
               RESET 
***********************************/

 * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
 }

/**********************************
            UTILITIES 
***********************************/

.margin-auto {
  margin: 0 auto;
}
/* background colors */

.bg-gold {
  background-color: darkgoldenrod;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-blue {
  background-color: blue;
}

.bg-plum {
  background-color: plum;
}

.bg-royalblue {
  background-color: royalblue;
}

.bg-pink {
  background-color: pink;
}

.bg-light-gray {
  background-color: lightgray;
}

.bg-salmon {
  background-color: salmon;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-aquamarine {
  background-color: aquamarine;
}


/* border */

.border {
  border: 1px dotted black;
}

/* width */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/**********************************
            SPECIFICS
***********************************/

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.header-container {
  display: flex;
  min-height: 40px;
  width: 70%;
}



