/**********************************
               RESET 
***********************************/

 * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
 }

/**********************************
            UTILITIES 
***********************************/

.margin-auto {
  margin: 0 auto;
}

.bg-gold {
  background-color: darkgoldenrod;
}

.bg-light-blue {
  background-color: lightblue;
}

.bg-blue {
  background-color: blue;
}

.bg-plum {
  background-color: plum;
}

.bg-royalblue {
  background-color: royalblue;
}

.bg-pink {
  background-color: pink;
}

.bg-light-gray {
  background-color: lightgray;
}

.bg-salmon {
  background-color: salmon;
}

.bg-darkcyan {
  background-color: darkcyan;
}

.bg-aquamarine {
  background-color: aquamarine;
}

/**********************************
            SPECIFICS
***********************************/

/* header */
.header-container {
  display: flex;


}